<footer class="bg-dark text-white py-2 mt-4">
  <div class="container">
      <!-- About Mozaik -->
      <div class="row">
          <div class="col-lg-4 mb-2">
              <h5>Mozaik</h5>
              <p class="mb-2">Revolutionizing content creation with AI.</p>
          </div>
          <div class="col-lg-8 mb-2 text-lg-right text-center">
              <a href="https://sezer-muhammed.github.io/Anadolu-Ajans--Medya-Teknolojileri-hackathon/index.html" class="btn btn-outline-light btn-sm">Documentation</a>
          </div>
      </div>

      <div class="row">
          <div class="col-12 text-center">
              <p class="mb-0">© 2024 Mozaik. All Rights Reserved. Powered by Muhammed Sezer.</p>
          </div>
      </div>
  </div>
</footer>
