<!-- navbar.html -->
<nav class="navbar navbar-expand-lg" style="background-color: #00336640;"> <!-- Dark soft blue background -->
    <!-- Logo -->
    <!-- Logo -->
    <a class="navbar-brand ms-3">
        <img src="https://media.discordapp.net/attachments/1063825568694534194/1194269769239646208/sezer___mosaic_logo_bird_symbolizm_mystic_saturated_colors_12fbc86f-b48a-4382-b72f-959b2c6a7428.png?ex=65afbd65&is=659d4865&hm=7b8df1be341be7e1a47f15feb8908e64d348a4954f985ff1edec53e960ea2419&=&format=webp&quality=lossless&width=671&height=671" alt="Logo" style="height: 50px; width: 50px; border-radius: 50%;">
    </a>
    <div class="container-fluid">
        <!-- Toggler for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for app in navbar %}
                    <!-- Dropdown for App Name -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink{{ forloop.counter }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.app_name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ forloop.counter }}">
                            <!-- App Home Link -->
                            <li><a class="dropdown-item" href="{{ app.links.0.url }}">{{ app.links.0.title }}</a></li>
                            <!-- Divider Line -->
                            <li><hr class="dropdown-divider"></li>
                            <!-- App Features Links -->
                            {% for link in app.links %}
                                {% if not forloop.first %}
                                    <!-- Non-Home Links -->

                                        {% if link.dropdown %}
                                            <!-- Dropdown Feature Links -->
                                            {% for item in link.dropdown %}
                                                <li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
                                            {% endfor %}
                                        {% else %}
                                            <!-- Single Feature Link -->
                                            <li><a class="dropdown-item" href="{{ link.url }}">{{ link.title }}</a></li>
                                        {% endif %}

                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
