{% extends 'base.html' %}

{% block extra_css %}
<style>
    .custom-card-body {
        color: white;
    }

    /* Gerekli olduğunda boyut ve boşluk ayarlaması yapın */
    @media (min-width: 768px) {
        .col-md-4 {
            flex: 0 0 auto;
            width: 30%;
        }
    }
    .shadowed-text {
        text-shadow: 2px 2px 4px #000000; /* Siyah gölge */
    }
    
    .g-2 {
        gap: .5rem;
    }
    .custom-card {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .custom-card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0.95; /* %70 Opak */
    }
    .aspect-ratio-7-4 {
        position: relative;
        width: 100%;
    }
    
    .aspect-ratio-7-4::before {
        content: '';
        display: block;
        padding-top: calc(100% * (4 / 7)); /* Düzeltildi: Oran Hesaplama */
    }
    
    
    .shadowed-text {
        text-shadow: 2px 2px 4px #000000; /* Siyah gölge */
    }
    
</style>
{% endblock %}

{% block title %}Görüntü Oluşturma Arama{% endblock %}

{% block content %}
{% if selected_generation %}
<div class="container mt-5"> <!-- Add a top margin and wrap in a container -->
    <div class="row justify-content-center"> <!-- Center the content row -->
        <div class="col-lg-8 mb-4"> <!-- Increase the column size for a bigger card and add margin bottom -->
            <div class="card bg-dark text-white border-0 shadow"> <!-- Use Bootstrap classes for styling -->
                <img src="{{ selected_generation.random_image_url }}" class="card-img" alt="..." style="opacity: 0.95;"> <!-- Use an img tag for the background image -->
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.1);"> <!-- Overlay for text visibility -->
                    <h5 class="card-title">{{ selected_generation.news_context.headline }}</h5>
                    <div class="row">
                        <div class="col">
                            <p class="card-text"><strong>Duygu Tonu:</strong> {{ selected_generation.news_context.emotionTone }}</p>
                        </div>
                        <div class="col">
                            <p class="card-text"><strong>Duygusal Yoğunluk:</strong> {{ selected_generation.news_context.emotionalIntensity }}</p>
                        </div>
                    </div>
                    <a href="{% url 'imagegeneration_detail' selected_generation.id %}" class="btn btn-light btn-sm" style="background-color: rgba(255, 255, 255, 0.8);">Tam Detaylar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Benzer Görüntü Oluşturmaları Bul</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.image_generation.label_tag }}
                {{ form.image_generation }}
            </div>
            <button type="submit" class="btn btn-primary">Ara</button>
        </form>
    </div>
</div>
{% if similar_objects_with_scores %}
<div class="row mt-4">
    <div class="col-md-12">
        <h3>Benzer Görüntü Oluşturmalar</h3>
        <div class="row">
            {% for object, score in similar_objects_with_scores %}
            <div class="col-md-6 mb-4">
                <div class="card ratio ratio-7x4 h-100 custom-card aspect-ratio-7-4" style="background-image: url('{{ object.random_image_url }}'); background-size: cover;">
                    <div class="card-body d-flex flex-column justify-content-end shadowed-text" style="color: white; border: 2px solid black;">
                        <h5 class="card-title">{{ object.news_context.headline }}</h5>
                        <!-- Benzerlik Skoru Görüntüleme -->
                        <p class="card-text"><strong>Benzerlik: {{ score|floatformat:2 }}</strong></p>
                        <div class="row">
                            <div class="col">
                                <p class="card-text"><strong>Duygu Tonu:</strong> {{ object.news_context.emotionTone }}</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><strong>Duygusal Yoğunluk:</strong> {{ object.news_context.emotionalIntensity }}</p>
                            </div>
                        </div>
                        <!-- Tam Detaylar Butonu -->
                        <a href="{% url 'imagegeneration_detail' object.id %}" class="btn btn-secondary" style="background-color: rgba(108, 117, 125, 0.1);">Tam Detaylar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
