{% extends 'base.html' %}

{% block extra_css %}
<style>
    .custom-card-body {
        color: white;
    }

    /* Gerekli olduğunda boyut ve boşluk ayarlaması yapın */
    @media (min-width: 768px) {
        .col-md-4 {
            flex: 0 0 auto;
            width: 30%;
        }
    }
    .shadowed-text {
        text-shadow: 2px 2px 4px #000000; /* Siyah gölge */
    }
    
    .g-2 {
        gap: .5rem;
    }
    .custom-card {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .custom-card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0.95; /* %70 Opak */
    }
    .aspect-ratio-7-4 {
        position: relative;
        width: 100%;
    }
    
    .aspect-ratio-7-4::before {
        content: '';
        display: block;
        padding-top: calc(100% * (4 / 7)); /* Düzeltildi: Oran Hesaplama */
    }
    
    .shadowed-text {
        text-shadow: 2px 2px 4px #000000; /* Siyah gölge */
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container-fluid my-4">

    <div id="styleSelection">
        {% for category, styles in styles.items %}
        <h4>{{ category }}</h4>
        <div>
            {% for style in styles %}
            <label>
                <!-- Update the value to style.1, which is the identifier according to your JSON structure -->
                <input type="checkbox" class="style-checkbox" value="{{ style.1 }}" onclick="updateSelectedStyles();"> {{ style.0 }}
            </label>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    

    <input type="hidden" id="selectedStylesInput" name="selectedStyles">

    <form action="{% url 'image-generation-list' %}" method="get" class="mb-3">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ara</button>
    </form>
    

    <div class="row row-cols-1 row-cols-md-3 g-4" id="imageGenerationList">
        {% for image_generation in image_generations %}
        <div class="col-md-6">
            <div class="card ratio ratio-7x4 h-100 custom-card aspect-ratio-7-4" style="background-image: url('{{ image_generation.random_image_url }}'); background-size: cover;">
                <div class="card-body d-flex flex-column justify-content-end shadowed-text" style="color: white; border: 2px solid black;">
                    <h5 class="card-title">{{ image_generation.news_context.headline }}</h5>
                    <p class="card-text"><strong>Kategori:</strong> {{ image_generation.news_context.category }}</p>
                    <div class="row">
                        <div class="col">
                            <p class="card-text"><strong>Duygu Tonu:</strong> {{ image_generation.news_context.emotionTone }}</p>
                        </div>
                        <div class="col">
                            <p class="card-text"><strong>Duygusal Yoğunluk:</strong> {{ image_generation.news_context.emotionalIntensity }}</p>
                        </div>
                    </div>
                    <p class="card-text"><strong>Coğrafi Bağlam:</strong> {{ image_generation.news_context.geographicalContext }}</p>
                    <button class="btn btn-primary" style="background-color: rgba(0, 123, 255, 0.1);" data-bs-toggle="modal" data-bs-target="#detailModal{{ image_generation.id }}">Detayları Gör</button>
                    <a href="{% url 'imagegeneration_detail' image_generation.id %}" class="btn btn-secondary" style="background-color: rgba(108, 117, 125, 0.1);">Tam Detaylar</a>
                    <button class="btn btn-success" style="background-color: rgba(40, 167, 69, 0.1);" onclick="generateImages({{ image_generation.id }})">Görüntüleri Oluştur</button>
                    
                </div>
            </div>
        </div>
  
      <!-- Detay Görünümü için Modal -->
      <div class="modal fade" id="detailModal{{ image_generation.id }}" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="detailModalLabel">{{ image_generation.news_context.headline }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Başlık:</strong> {{ image_generation.news_context.headline }}</p>
                    <p><strong>Kategori:</strong> {{ image_generation.news_context.category }}</p>
                    <p><strong>Duygu Tonu ve Yoğunluğu:</strong> {{ image_generation.news_context.emotionTone }} - {{ image_generation.news_context.emotionalIntensity }}</p>
                    <p><strong>Coğrafi Bağlam:</strong> {{ image_generation.news_context.geographicalContext }}</p>
                    
                    <!-- Anahtar Kelimeleri Virgülle Ayrılmış Liste Olarak Göster -->
                    <p><strong>Anahtar Kelimeler:</strong> 
                        {% for keyword in image_generation.news_context.keywords.all %}
                            {{ keyword.word }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                
                    <!-- Karakterler ve Nesne Detayları -->
                    <p><strong>Karakterler:</strong> 
                        {% for character in image_generation.visual_elements.characters.all %}
                            {{ character.type }} - {{ character.action }} - {{ character.appearance }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>Nesne Detayları:</strong> 
                        {% for object_detail in image_generation.visual_elements.object_details.all %}
                            {{ object_detail.description }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                
                
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  

</div>
{% endblock %}

{% block extra_js %}
<script>
function generateImages(imageGenerationId) {
    // Collect all selected style checkboxes
    var selectedStyleIdentifiers = [];
    document.querySelectorAll('.style-checkbox:checked').forEach(function(checkbox) {
        // Assuming the value of the checkbox is set to the style identifier (1st index)
        selectedStyleIdentifiers.push(checkbox.value);
    });

    // Create a query string with the selected style identifiers
    var queryString = selectedStyleIdentifiers.map(function(styleIdentifier) {
        return 'styles=' + encodeURIComponent(styleIdentifier);
    }).join('&');

    // Redirect to the image generation view with the selected style identifiers as a query string
    window.location.href = '/GUI/generate-images/' + imageGenerationId + '?' + queryString;
}


$(document).ready(function() {
    $('.select2').select2({
        placeholder: "Seçenekleri Seçin",
        allowClear: true,
        width: '100%'  // Gerektiği gibi ayarlayın
    });
});

function updateSelectedStyles() {
    var selectedStyles = [];
    document.querySelectorAll('.style-checkbox:checked').forEach(function(checkbox) {
        selectedStyles.push(checkbox.value);
    });
    // Update hidden input or make AJAX request here
    document.getElementById('selectedStylesInput').value = JSON.stringify(selectedStyles);
}
</script>
{% endblock %}
