{% extends 'base.html' %}

{% block title %}Medya Yükle{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Medya Yükle</h2>
    <div class="row">
        <!-- Görüntü Yükleme Bölümü -->
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" id="imageUploadForm" class="mb-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="imageInput" class="form-label">{{ image_form.image.label }}</label>
                    <input type="file" class="form-control" id="imageInput" name="image" multiple>
                    <div id="imageDropZone" class="border border-dashed p-5 text-center">
                        Buraya sürükleyip bırakın
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Görüntüleri Yükle</button>
            </form>
            <!-- Görüntü Önizleme Alanı -->
            <div id="imagePreview" class="row"></div>
        </div>

        <!-- Metin Yükleme Bölümü -->
        <div class="col-md-6">
            <form method="post" id="textUploadForm" class="mb-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="textInput" class="form-label">{{ text_form.text.label }}</label>
                    <textarea class="form-control" id="textInput" name="text" rows="3"></textarea>
                    <small class="form-text text-muted">Metninizi girin, farklı metinleri '%%' kullanarak ayırın.</small>
                </div>
                <button type="submit" class="btn btn-primary">Metni Yükle</button>
            </form>
            <!-- Metin Önizleme Alanı -->
            <div id="textPreview"></div>
        </div>
    </div>
</div>

<script>
  var imageDropZone = document.getElementById('imageDropZone');
  var imageInput = document.getElementById('imageInput');

  // Görüntü önizlemelerini gösterme fonksiyonu
  function displayImages(files) {
      var imagePreview = document.getElementById('imagePreview');
      imagePreview.innerHTML = ''; // Mevcut içeriği temizleyin

      Array.from(files).forEach(function(file) {
          if (!file.type.match('image.*')) return;

          var reader = new FileReader();
          reader.onload = function(e) {
            var img = document.createElement('img');
            img.src = e.target.result;
            img.className = 'img-thumbnail m-1';
            img.style.maxWidth = '480px';
            img.style.maxHeight = '480px';
            img.style.height = 'auto';
            img.style.width = 'auto';
            imagePreview.appendChild(img);
          };
          reader.readAsDataURL(file);
      });
  }

  // Sürükle ve bırak işlemini ele alma
  imageDropZone.addEventListener('dragover', function(e) {
      e.preventDefault();
      e.stopPropagation();
      this.classList.add('border-primary');
  });

  imageDropZone.addEventListener('dragleave', function(e) {
      e.preventDefault();
      e.stopPropagation();
      this.classList.remove('border-primary');
  });

  imageDropZone.addEventListener('drop', function(e) {
      e.preventDefault();
      e.stopPropagation();
      this.classList.remove('border-primary');

      var files = e.dataTransfer.files;
      displayImages(files); // Bırakılan görüntüleri göster
      imageInput.files = files; // Bırakılan dosyaları dosya girişine atayın
  });

  // Dosya girişi aracılığıyla dosya seçimini ele alma
  imageInput.addEventListener('change', function() {
      displayImages(this.files); // Seçilen görüntüleri göster
  });

    // Metin Önizleme İşlevselliği
    document.getElementById('textInput').addEventListener('input', function() {
        var texts = this.value.split('%%');
        var textPreview = document.getElementById('textPreview');
        textPreview.innerHTML = '';
        texts.forEach(function(text) {
            if(text.trim() != '') {
                var p = document.createElement('p');
                p.textContent = text.trim();
                textPreview.appendChild(p);
            }
        });
    });

    // Başarılı Yükleme Üzerine Uyarı
    $('#uploadForm').on('submit', function(event) {
        event.preventDefault(); // Varsayılan form gönderme eylemini önler
        var formData = new FormData(this);

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function() {
                Swal.fire({
                    title: 'Başarılı!',
                    text: 'Medyanız başarıyla yüklendi.',
                    icon: 'success',
                    confirmButtonText: 'Harika'
                });
            },
            error: function() {
                Swal.fire({
                    title: 'Hata!',
                    text: 'Yükleme sırasında bir sorun oluştu.',
                    icon: 'error',
                    confirmButtonText: 'Tamam'
                });
            }
        });
    });
</script>
{% endblock %}
